<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servertest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pupusa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Pupusa.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.servertest.login.LoginActivity"/>
        <activity android:name="com.example.servertest.login.JoinActivity"/>
        <activity android:name="com.example.servertest.alret.AlertActivity"/>
        <activity android:name="com.example.servertest.MainActivity"/>
        <activity android:name="com.example.servertest.SearchActivity"/>
        <activity android:name="com.example.servertest.TestActivity"/>
        <activity android:name="com.example.servertest.WebViewActivity"/>
        <activity android:name=".mypage.MenuList"/>
        <activity android:name=".mypage.MyPageActivity"/>
        <activity android:name=".mypage.CreateChatRoom"/>
        <activity android:name=".mypage.ConnectAddressApi"/>
        <activity android:name=".mypage.orderhistory.OrderHistory"/>
        <activity android:name=".servicecenter.ServiceCenter"/>
        <activity android:name=".mypage.myreview.MyReview"/>
        <activity android:name=".mypage.wishlist.WishListActivity"/>
        <activity android:name=".announcement.AnnouncementActivity"/>
        <activity android:name=".mypage.mychatlist.MyChatHistoryListActivity"/>
        <activity android:name=".mypage.coupon.Coupon"/>
        <activity android:name=".stores.StoresActivity"/>
        <activity android:name=".chatroom.CreateChatRoomActivity"/>
        <activity android:name=".stores.GongGuPopup" />
        <activity android:name=".chat.ChatRoomActivity" />
        <activity android:name=".chatroom.ChatRoomInfoActivity" />
    </application>

</manifest>